@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-width: 440px;
  width: 100%;
  overflow-x: auto;
}

.header__search input {
  max-width: calc(100% - 55px);
  position: absolute;
  width: 100%;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 15px;
  right: 40px;
}
